<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        .div-style{
            margin-top : 4em;
            padding : 3rem;
            background: white;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5rem 1rem 0px;
        }
        .text-box{
            border-radius: 1rem;
            margin-top : 1rem;
        }
        .button-submit{
            width: 50%;
            border-radius: 1rem;
            margin-top : 1rem
        }
        .body-background {
            background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        }
        .main-label{
            margin: 1rem;
        }
    </style>
</head>
<body class="body-background"></body>
<div class="container">
    <div class="row d-flex justify-content-center mx-auto">
        <div class="col-md-6 col-xs-12 div-style">
            <form action="/create" method="get">
                <div class="d-flex justify-content-center mx-auto main-label" >
                        <h2>Data diri</h2>
                </div>
                <div class="form-group">
                    <input class="form-control text-box" id="nama_orang" type="text" name="nama" value="" placeholder="Nama lengkap">
                </div>
                <div class="form-group">
                    <input class="form-control text-box" id="email" type="email" name="email" value="" aria-describedby="email" placeholder="Alamat Email">
                </div>
                <div class="form-group">
                        <input type="mobileno" class="form-control text-box" id="notelp" name="notelp" placeholder="Nomor Telepon">
                </div>
                <div class="form-group justify-content-center d-flex">
                        <button type="submit" class="btn btn-danger button-submit" value="ok">Kirim</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>